.sidebar.round
  %ul
    %li
      %strong
        Name
      = @user.name
    %li
      %strong
        URL
      = link_to user_path(@user), @user
    %li
      %strong
        Microposts
      = @user.microposts.count
  = render 'shared/stats'
  - unless @users.nil? || @users.empty?
    - @users.each do |user|
      = link_to gravatar_for(user, :size => 30), user

