!!! 5
%html
  %head
    %title= title
    = csrf_meta_tag
    = render 'layouts/stylesheets'
  %body
    .container
      = render 'layouts/header'
      %section.round
        = yield
      = render 'layouts/footer'
      - if Rails.env.development?
        %div{ :style => 'clear:both; padding-top: 1.5em;' }
          = debug(params)

