!!! 5
%html
  %head
    %title= title
    = csrf_meta_tag
    = render 'layouts/stylesheets'
    = javascript_include_tag :defaults
  %body.bp
    .container
      = render 'layouts/header'
      %section.round
        - flash.each do |key, value|
          .flash{:class => key}= value
        = yield
      = render 'layouts/footer'
      - if Rails.env.development?
        %div{ :style => 'clear:both; padding-top: 1.5em;' }
          = debug(params)

